In [1]:
import os
import json
from pprint import pprint
import pandas as pd
from pathlib import Path
from datetime import datetime
import sqlalchemy as sa
from sqlalchemy import create_engine, inspect
from sqlalchemy import text
import pymysql
from dotenv import load_dotenv
import cryptography
from cryptography.hazmat.primitives import hashes

In [2]:
load_dotenv()
mysql_password = os.getenv("MYSQL_PASSWORD") #MySQLpassword

In [3]:
def sql_connection():
    engine = sa.create_engine(f"mysql+pymysql://root:{mysql_password}@127.0.0.1")
    inspector = inspect(engine)
    schema_names = inspector.get_schema_names()

    if "phonepe_pulse_db" not in schema_names:
        with engine.connect() as conn:
            conn.execute(text("CREATE DATABASE phonepe_pulse_db"))
            print("Database 'phonepe_pulse_db' created successfully!")

    else:
        print("Database 'phonepe_pulse_db' already exists")

In [4]:
sql_connection()
engine = sa.create_engine(f"mysql+pymysql://root:{mysql_password}@127.0.0.1/phonepe_pulse_db")
inspector = inspect(engine)

Database 'phonepe_pulse_db' created successfully!

In [7]:
def agg_trans_data():
    agg_trans_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/aggregated/transaction/country/india/state/")
    agg_trans = []

    for state_path in agg_trans_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file,"r") as f:
                    data = json.load(f)
                    
                    for transaction in data["data"]["transactionData"]:
                        agg_trans.append({
                            "State": state,
                            "Year": year,
                            "Quarter": quarter,
                            "Transaction_Type": transaction["name"],
                            "Amount": transaction["paymentInstruments"][0]["amount"],
                            "Trans_Count": transaction["paymentInstruments"][0]["count"]
                        })

    df = pd.DataFrame(agg_trans)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    return df

In [8]:
agg_trans_data()

,State,Year,Quarter,Transaction_Type,Amount,Trans_Count
0,Andaman & Nicobar Islands,2018,1,Recharge & bill payments,1.845307e+06,4200
1,Andaman & Nicobar Islands,2018,1,Peer-to-peer payments,1.213866e+07,1871
2,Andaman & Nicobar Islands,2018,1,Merchant payments,4.525072e+05,298
3,Andaman & Nicobar Islands,2018,1,Financial Services,1.060142e+04,33
4,Andaman & Nicobar Islands,2018,1,Others,1.846899e+05,256
...,...,...,...,...,...,...
4309,West Bengal,2023,4,Merchant payments,2.390738e+11,354067997
4310,West Bengal,2023,4,Peer-to-peer payments,9.641385e+11,317959249
4311,West Bengal,2023,4,Recharge & bill payments,4.531943e+10,64920775
4312,West Bengal,2023,4,Financial Services,4.590073e+08,480740
4313,West Bengal,2023,4,Others,4.041567e+08,524477

In [9]:
def agg_user_data():
    agg_user_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/aggregated/user/country/india/state/")

    agg_user = []

    for state_path in agg_user_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file,"r") as f:
                    data = json.load(f)
                    
                    try:
                        for i in data["data"]["usersByDevice"]:
                            agg_user.append({
                                "State": state,
                                "Year": year,
                                "Quarter": quarter,
                                "Brand": i['brand'],
                                "User_Count": i['count'],
                                "User_Percentage": i["percentage"]
                            })

                    except:
                        pass

    df = pd.DataFrame(agg_user)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    return df

In [10]:
agg_user_data()

,State,Year,Quarter,Brand,User_Count,User_Percentage
0,Andaman & Nicobar Islands,2018,1,Xiaomi,1665,0.247033
1,Andaman & Nicobar Islands,2018,1,Samsung,1445,0.214392
2,Andaman & Nicobar Islands,2018,1,Vivo,982,0.145697
3,Andaman & Nicobar Islands,2018,1,Oppo,501,0.074332
4,Andaman & Nicobar Islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,West Bengal,2022,1,Lenovo,330017,0.015056
6728,West Bengal,2022,1,Infinix,284678,0.012987
6729,West Bengal,2022,1,Asus,280347,0.012790
6730,West Bengal,2022,1,Apple,277752,0.012671
6731,West Bengal,2022,1,Others,2196334,0.100199

In [11]:
def agg_ins_data():
    agg_ins_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/aggregated/insurance/country/india/state/")
    agg_ins = []

    for state_path in agg_ins_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file, "r") as f:
                    data = json.load(f)

                    
                    for insurance in data["data"]["transactionData"]:
                        agg_ins.append({
                            "State": state,
                            "Year": year,
                            "Quarter": quarter,
                            "Amount": insurance["paymentInstruments"][0]["amount"],
                            "Insurance_Count": insurance["paymentInstruments"][0]["count"]
                        })

    df = pd.DataFrame(agg_ins)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    return df

In [12]:
agg_ins_data()

                         State  Year  Quarter       Amount  Insurance_Count
0    Andaman & Nicobar Islands  2020        2       1360.0                6
1    Andaman & Nicobar Islands  2020        3      15380.0               41
2    Andaman & Nicobar Islands  2020        4     157975.0              124
3    Andaman & Nicobar Islands  2021        1     244266.0              225
4    Andaman & Nicobar Islands  2021        2     181504.0              137
..                         ...   ...      ...          ...              ...
533                West Bengal  2022        4   70466433.0            54277
534                West Bengal  2023        1   77461732.0            56833
535                West Bengal  2023        2   65204280.0            49792
536                West Bengal  2023        3   76359312.0            58131
537                West Bengal  2023        4  100365562.0            72712

[538 rows x 5 columns]

In [13]:
def map_trans_data():
    map_trans_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/map/transaction/hover/country/india/state/")
    map_trans = []

    for state_path in map_trans_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file,"r") as f:
                    data = json.load(f)
                    
                    for transaction in data["data"]['hoverDataList']:
                        map_trans.append({
                            "State": state,
                            "District": transaction["name"],
                            "Year": year,
                            "Quarter": quarter,
                            "Trans_Count": transaction["metric"][0]["count"],
                            "Amount": transaction["metric"][0]["amount"]
                        })
    df = pd.DataFrame(map_trans)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    df["State"] = df["State"].str.replace("&","And")
    df["District"] = df["District"].str.replace(" district","").str.title()
    df["District"] = df["District"].str.title()
 
    return df

In [14]:
map_trans_data()

,State,District,Year,Quarter,Trans_Count,Amount
0,Andaman And Nicobar Islands,North And Middle Andaman,2018,1,442,9.316631e+05
1,Andaman And Nicobar Islands,South Andaman,2018,1,5688,1.256025e+07
2,Andaman And Nicobar Islands,Nicobars,2018,1,528,1.139849e+06
3,Andaman And Nicobar Islands,North And Middle Andaman,2018,2,825,1.317863e+06
4,Andaman And Nicobar Islands,South Andaman,2018,2,9395,2.394824e+07
...,...,...,...,...,...,...
17559,West Bengal,Nadia,2023,4,36242432,6.879568e+10
17560,West Bengal,Birbhum,2023,4,20708496,3.690499e+10
17561,West Bengal,Purba Medinipur,2023,4,40572042,7.981990e+10
17562,West Bengal,Maldah,2023,4,34654950,6.416729e+10
17563,West Bengal,Darjiling,2023,4,16807885,2.793986e+10

In [15]:
def map_user_data():
    map_user_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/map/user/hover/country/india/state/")

    map_user = []

    for state_path in map_user_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file,"r") as f:
                    data = json.load(f)
                    

                    for district,district_data in data["data"]["hoverData"].items():
                        map_user.append({
                            "State": state,
                            "District": district,
                            "Year": year,
                            "Quarter": quarter,
                            "Registered_Users": district_data['registeredUsers'],
                            "App_Open_Count":district_data["appOpens"] })
                        
    df = pd.DataFrame(map_user)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    df["State"] = df["State"].str.replace("&","And")
    df["District"] = df["District"].str.replace(" district","").str.title()
    df["District"] = df["District"].str.title()
 
    return df

In [16]:
map_user_data()

,State,District,Year,Quarter,Registered_Users,App_Open_Count
0,Andaman And Nicobar Islands,North And Middle Andaman,2018,1,632,0
1,Andaman And Nicobar Islands,South Andaman,2018,1,5846,0
2,Andaman And Nicobar Islands,Nicobars,2018,1,262,0
3,Andaman And Nicobar Islands,North And Middle Andaman,2018,2,911,0
4,Andaman And Nicobar Islands,South Andaman,2018,2,8143,0
...,...,...,...,...,...,...
17563,West Bengal,Nadia,2023,4,1603527,67224546
17564,West Bengal,Birbhum,2023,4,1013025,52281841
17565,West Bengal,Purba Medinipur,2023,4,1589203,69991821
17566,West Bengal,Maldah,2023,4,1134600,88292475
17567,West Bengal,Darjiling,2023,4,660231,39079247

In [17]:
def map_ins_data():
    map_ins_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/map/insurance/hover/country/india/state/")
    map_ins = []

    for state_path in map_ins_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file, "r") as f:
                    data = json.load(f)

                    
                    for insurance in data["data"]["hoverDataList"]:
                        map_ins.append({
                            "State": state,
                            "District" : insurance["name"],
                            "Year": year,
                            "Quarter": quarter,
                            "Amount": insurance["metric"][0]["amount"],
                            "Insurance_Count": insurance["metric"][0]["count"]
                        })

    df = pd.DataFrame(map_ins)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    df["State"] = df["State"].str.replace("&","And")
    df["District"] = df["District"].str.replace(" district","").str.title()
    df["District"] = df["District"].str.title()
 
    return df

In [18]:
map_ins_data()

,State,District,Year,Quarter,Amount,Insurance_Count
0,Andaman And Nicobar Islands,South Andaman,2020,2,795.0,3
1,Andaman And Nicobar Islands,Nicobars,2020,2,565.0,3
2,Andaman And Nicobar Islands,North And Middle Andaman,2020,3,281.0,1
3,Andaman And Nicobar Islands,South Andaman,2020,3,13651.0,35
4,Andaman And Nicobar Islands,Nicobars,2020,3,1448.0,5
...,...,...,...,...,...,...
10823,West Bengal,Nadia,2023,4,4012958.0,2786
10824,West Bengal,Birbhum,2023,4,1720043.0,1162
10825,West Bengal,Purba Medinipur,2023,4,3400040.0,2507
10826,West Bengal,Maldah,2023,4,3998317.0,2886
10827,West Bengal,Darjiling,2023,4,4044883.0,2762

In [19]:
map_ins_data()

,State,District,Year,Quarter,Amount,Insurance_Count
0,Andaman And Nicobar Islands,South Andaman,2020,2,795.0,3
1,Andaman And Nicobar Islands,Nicobars,2020,2,565.0,3
2,Andaman And Nicobar Islands,North And Middle Andaman,2020,3,281.0,1
3,Andaman And Nicobar Islands,South Andaman,2020,3,13651.0,35
4,Andaman And Nicobar Islands,Nicobars,2020,3,1448.0,5
...,...,...,...,...,...,...
10823,West Bengal,Nadia,2023,4,4012958.0,2786
10824,West Bengal,Birbhum,2023,4,1720043.0,1162
10825,West Bengal,Purba Medinipur,2023,4,3400040.0,2507
10826,West Bengal,Maldah,2023,4,3998317.0,2886
10827,West Bengal,Darjiling,2023,4,4044883.0,2762

In [20]:
def top_trans_data():
    top_trans_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/top/transaction/country/india/state/")
    top_trans_dist = []
    top_trans_pincode = []

    for state_path in top_trans_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file,"r") as f:
                    data = json.load(f)


                    for transaction in data["data"]["pincodes"]:
                        top_trans_pincode.append({
                            "State": state,
                            "Pincode": transaction['entityName'] ,
                            "Year": year,
                            "Quarter": quarter,
                            "Trans_Count": transaction["metric"]["count"],
                            "Amount": transaction["metric"]["amount"]
                        })               
    df = pd.DataFrame(top_trans_pincode)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    df["State"] = df["State"].str.replace("&","And")
 
    return df

In [21]:
top_trans_data()

,State,Pincode,Year,Quarter,Trans_Count,Amount
0,Andaman And Nicobar Islands,744101,2018,1,1622,2.769298e+06
1,Andaman And Nicobar Islands,744103,2018,1,1223,2.238042e+06
2,Andaman And Nicobar Islands,744102,2018,1,969,3.519060e+06
3,Andaman And Nicobar Islands,744105,2018,1,685,1.298561e+06
4,Andaman And Nicobar Islands,744104,2018,1,340,1.039715e+06
...,...,...,...,...,...,...
8562,West Bengal,721301,2023,4,4133775,5.718222e+09
8563,West Bengal,700001,2023,4,3983241,8.039689e+09
8564,West Bengal,732125,2023,4,3950411,6.557345e+09
8565,West Bengal,700039,2023,4,3742452,5.608622e+09
8566,West Bengal,700014,2023,4,3652710,6.184795e+09

In [22]:
def top_user_data():
    top_user_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/top/user/country/india/state/")

    top_user = []

    for state_path in top_user_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file,"r") as f:
                    data = json.load(f)
                    

                    for i in data["data"]["pincodes"]:
                        top_user.append({
                            "State": state,
                            "Pincode": i["name"],
                            "Year": year,
                            "Quarter": quarter,
                            "Registered_Users": i['registeredUsers'] })
                        
    df = pd.DataFrame(top_user)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    df["State"] = df["State"].str.replace("&","And")
 
    return df

In [23]:
top_user_data()

                            State Pincode  Year  Quarter  Registered_Users
0     Andaman And Nicobar Islands  744103  2018        1              1608
1     Andaman And Nicobar Islands  744101  2018        1              1108
2     Andaman And Nicobar Islands  744105  2018        1              1075
3     Andaman And Nicobar Islands  744102  2018        1              1006
4     Andaman And Nicobar Islands  744104  2018        1               272
...                           ...     ...   ...      ...               ...
8563                  West Bengal  700015  2023        4            126663
8564                  West Bengal  742304  2023        4            123320
8565                  West Bengal  721101  2023        4            123088
8566                  West Bengal  700150  2023        4            119283
8567                  West Bengal  700091  2023        4            118578

[8568 rows x 5 columns]

In [24]:
def top_ins_data():
    top_ins_by_states_main_path = Path("D:/DATA SCIENCE ZONE/Projects/project_2_phonepe_pulse/pulse/data/top/insurance/country/india/state/")
    top_ins = []

    for state_path in top_ins_by_states_main_path.iterdir():
        state = state_path.name

        for year_path in state_path.iterdir():
            year = int(year_path.name)

            for json_file in year_path.iterdir():
                quarter = int(json_file.name.strip(".json"))
                with open(json_file, "r") as f:
                    data = json.load(f)

                    
                    for insurance in data["data"]["pincodes"]:
                        top_ins.append({
                            "State": state,
                            "Pincode" : insurance["entityName"],
                            "Year": year,
                            "Quarter": quarter,
                            "Amount": insurance["metric"]["amount"],
                            "Insurance_Count": insurance["metric"]["count"]
                        })

    df = pd.DataFrame(top_ins)
    df["State"] = df["State"].str.replace("-"," ").str.title()
    df["State"] = df["State"].str.replace("&","And")
 
    return df

In [25]:
top_ins_data()

,State,Pincode,Year,Quarter,Amount,Insurance_Count
0,Andaman And Nicobar Islands,744301,2020,2,565.0,3
1,Andaman And Nicobar Islands,744104,2020,2,513.0,2
2,Andaman And Nicobar Islands,744101,2020,2,282.0,1
3,Andaman And Nicobar Islands,744112,2020,3,3432.0,9
4,Andaman And Nicobar Islands,744105,2020,3,3948.0,7
...,...,...,...,...,...,...
5244,West Bengal,700135,2023,4,939622.0,556
5245,West Bengal,700091,2023,4,767163.0,535
5246,West Bengal,700015,2023,4,683025.0,521
5247,West Bengal,700059,2023,4,843045.0,518
5248,West Bengal,711102,2023,4,769517.0,517

In [26]:
def agg_trans_data_to_sql():

    if not inspector.has_table("agg_trans_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE agg_trans_data(
                            State varchar(300), 
                            Year int, 
                            Quarter int, 
                            Transaction_Type varchar(300), 
                            Amount float,
                            Trans_Count bigint)
                            """))
            
            print("Table 'agg_trans_data' created successfully!")

    else:
        print("Table 'agg_trans_data' already exists")

    try:
        #df = pd.DataFrame(comment_data)  # Create DataFrame from data
        agg_trans_data().to_sql('agg_trans_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'agg_trans_data' inserted successfully!")
    except Exception as e:
        print("Error inserting agg_trans_data:", e)

In [27]:
def agg_user_data_to_sql():

    if not inspector.has_table("agg_user_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE agg_user_data(
                            State varchar(300), 
                            Year int, 
                            Quarter int, 
                            Brand varchar(50),
                            User_Count bigint,
                            User_Percentage float)
                            """))
            
            print("Table 'agg_user_data' created successfully!")

    else:
        print("Table 'agg_user_data' already exists")

    try:
        #df = pd.DataFrame(comment_data)  # Create DataFrame from data
        agg_user_data().to_sql('agg_user_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'agg_user_data' inserted successfully!")
    except Exception as e:
        print("Error inserting agg_user_data:", e)

In [28]:
def agg_ins_data_to_sql():

    if not inspector.has_table("agg_ins_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE agg_ins_data(
                            State varchar(300), 
                            Year int, 
                            Quarter int, 
                            Amount float,
                            Insurance_Count bigint)
                            """))
            
            print("Table 'agg_ins_data' created successfully!")

    else:
        print("Table 'agg_ins_data' already exists")

    try:
        #df = pd.DataFrame(comment_data)  # Create DataFrame from data
        agg_ins_data().to_sql('agg_ins_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'agg_ins_data' inserted successfully!")
    except Exception as e:
        print("Error inserting agg_ins_data:", e)

In [29]:
def map_trans_data_to_sql():

    if not inspector.has_table("map_trans_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE map_trans_data(
                            State varchar(300),
                            District varchar(300), 
                            Year int, 
                            Quarter int, 
                            Trans_Count bigint, 
                            Amount float)
                            """))
            
            print("Table 'map_trans_data' created successfully!")

    else:
        print("Table 'map_trans_data' already exists")

    try:
        #df = pd.DataFrame(comment_data)  # Create DataFrame from data
        map_trans_data().to_sql('map_trans_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'map_trans_data' inserted successfully!")
    except Exception as e:
        print("Error inserting map_trans_data:", e)

In [30]:
def map_user_data_to_sql():

    if not inspector.has_table("map_user_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE map_user_data(
                            State varchar(300), 
                            District varchar(300),
                            Year int, 
                            Quarter int, 
                            Registered_Users bigint,
                            App_Open_Count bigint)
                            """))
            
            print("Table 'map_user_data' created successfully!")

    else:
        print("Table 'map_user_data' already exists")

    try:
        map_user_data().to_sql('map_user_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'map_user_data' inserted successfully!")
    except Exception as e:
        print("Error inserting map_user_data:", e)

In [31]:
def map_ins_data_to_sql():

    if not inspector.has_table("map_ins_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE map_ins_data(
                            State varchar(300), 
                            District varchar(300),
                            Year int, 
                            Quarter int, 
                            Amount float,
                            Insurance_Count bigint)
                            """))
            
            print("Table 'map_ins_data' created successfully!")

    else:
        print("Table 'map_ins_data' already exists")

    try:
        map_ins_data().to_sql('map_ins_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'map_ins_data' inserted successfully!")
    except Exception as e:
        print("Error inserting map_ins_data:", e)

In [32]:
def top_trans_data_to_sql():

    if not inspector.has_table("top_trans_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE top_trans_data(
                            State varchar(300),
                            Pincode int, 
                            Year int, 
                            Quarter int, 
                            Trans_Count bigint, 
                            Amount float)
                            """))
            
            print("Table 'top_trans_data' created successfully!")

    else:
        print("Table 'top_trans_data' already exists")

    try:
        #df = pd.DataFrame(comment_data)  # Create DataFrame from data
        top_trans_data().to_sql('top_trans_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'top_trans_data' inserted successfully!")
    except Exception as e:
        print("Error inserting top_trans_data:", e)

In [33]:
def top_user_data_to_sql():
    
    if not inspector.has_table("top_user_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE top_user_data(
                            State varchar(300), 
                            Pincode int,
                            Year int, 
                            Quarter int, 
                            Registered_Users bigint)
                            """))
            
            print("Table 'top_user_data' created successfully!")

    else:
        print("Table 'top_user_data' already exists")

    try:
        top_user_data().to_sql('top_user_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'top_user_data' inserted successfully!")
    except Exception as e:
        print("Error inserting top_user_data:", e)

In [34]:
def top_ins_data_to_sql():
    
    if not inspector.has_table("top_ins_data"):
        with engine.connect() as conn:
            conn.execute(text("""
                            CREATE TABLE top_ins_data(
                            State varchar(300), 
                            Pincode int,
                            Year int, 
                            Quarter int, 
                            Amount float,
                            Insurance_Count bigint)
                            """))
            
            print("Table 'top_ins_data' created successfully!")

    else:
        print("Table 'top_ins_data' already exists")

    try:
        top_ins_data().to_sql('top_ins_data', con=engine, if_exists='replace', index=False) #Inserting comment data to sql

        print("'top_ins_data' inserted successfully!")
    except Exception as e:
        print("Error inserting top_ins_data:", e)

In [35]:
def data_to_sql():
    agg_trans_data_to_sql()
    agg_user_data_to_sql()
    agg_ins_data_to_sql()
    map_trans_data_to_sql()
    map_user_data_to_sql()
    map_ins_data_to_sql()
    top_trans_data_to_sql()
    top_user_data_to_sql()
    top_ins_data_to_sql()

In [36]:
data_to_sql()

Table 'agg_trans_data' created successfully!

'agg_trans_data' inserted successfully!
Table 'agg_user_data' created successfully!
'agg_user_data' inserted successfully!
Table 'agg_ins_data' created successfully!
'agg_ins_data' inserted successfully!
Table 'map_trans_data' created successfully!
'map_trans_data' inserted successfully!
Table 'map_user_data' created successfully!
'map_user_data' inserted successfully!
Table 'map_ins_data' created successfully!
'map_ins_data' inserted successfully!
Table 'top_trans_data' created successfully!
'top_trans_data' inserted successfully!
Table 'top_user_data' created successfully!
'top_user_data' inserted successfully!
Table 'top_ins_data' created successfully!
'top_ins_data' inserted successfully!